
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.css') }}">

  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.js') }}"></script>


  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>
  <script>
  $(document)
    .ready(function() {

      $('img[name=fav]').each(function(){
        $('.ui.rating')
          .rating({
            initialRating: 3,
            maxRating: 5
          })
        ;
        mov_id = this.alt;
        id = this.id;
        console.log(mov_id);
        console.log(id);
        var link = 'raiso';
        getPoster(mov_id, id, function(url) {
            console.log(url);
            console.log(id);
            // document.getElementById(id).src = url;
            // link = url;
            // return link;
        });

      });

      $('img[name=imdbId]').each(function(){
        $('.ui.rating')
          .rating({
            initialRating: 3,
            maxRating: 5
          })
        ;
        mov_id = this.alt;
        id = this.id;
        console.log(mov_id);
        console.log(id);
        var link = 'raiso';
        getPoster(mov_id, id, function(url) {
            console.log(url);
            console.log(id);
            // document.getElementById(id).src = url;
            // link = url;
            // return link;
        });

      });

      $('img[name=imdbId2]').each(function(){
        $('.ui.rating')
          .rating({
            initialRating: 3,
            maxRating: 5
          })
        ;
        mov_id = this.alt;
        id = this.id;
        console.log(mov_id);
        console.log(id);
        var link = 'raiso';
        getPoster(mov_id, id, function(url) {
            console.log(url);
            console.log(id);
            // document.getElementById(id).src = url;
            // link = url;
            // return link;
        });

      });

      function getPoster(mov_id, id, callback) {
        var img = "{{ url_for('static', filename='assets/images/not-available.jpg') }}";
        $.getJSON(mov_id).then(function(response){
          img = response.Poster;
          document.getElementById(id).src = img;
          callback(img);
        });
      }

      $('.ui.rating')
        .rating('setting', 'clearable', true)
      ;


      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

      $("#rec_click").click(function () {
              $("#rec_click").addClass('loading');
          });

      $('.ui.accordion')
        .accordion()
      ;

    })
  ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="{{ url_for('home') }}" class="active item">Home</a>
    <a href="{{ url_for('panda') }}" class="item">Movie List</a>
    <a href="{{ url_for('ratings') }}" class="item">Ratings</a>
    <a class="item">Careers</a>
    <div class="right menu">
    {% if session['logged_in'] %}
      <div class="item">
        <a href="{{ url_for('logout') }}" class="ui button">Logout</a>
      </div>
    {% else %}
      <div class="item">
        <a href="{{ url_for('do_admin_login') }}" class="ui button">Login</a>
      </div>
    {% endif %}
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href="{{ url_for('home') }}" class="active item">Home</a>
  <a href="{{ url_for('panda') }}" class="item">Movie List</a>
  <a href="{{ url_for('ratings') }}" class="item">Ratings</a>
  <a class="item">Careers</a>
  {% if session['logged_in'] %}
    <a href="{{ url_for('logout') }}" class="item">Logout</a>
  {% else %}
    <a href="{{ url_for('do_admin_login') }}" class="item">Login</a>
  {% endif %}
    <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="{{ url_for('home') }}" class="active item">Home</a>
        <a href="{{ url_for('panda') }}" class="item">Movie List</a>
        <a href="{{ url_for('ratings') }}" class="item">Ratings</a>
        <a class="item">Careers</a>
        <div class="right item">
          {% if session['logged_in'] %}
            <a href="{{ url_for('logout') }}" class="ui inverted button">Logout</a>
          {% else %}
            <a href="{{ url_for('do_admin_login') }}" class="ui inverted button">Login</a>
          {% endif %}
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container" style="margin-bottom:20px">
      <h1 class="ui inverted header" style="margin-top:50px">
        Home | {{ name }}
      </h1>
      <h2>Click button to get movie recommendation | userID : {{ userId }}.</h2>
      {% if fav_movies|length < 5 %}
      <p>You must have at least 5 movie rating</p>
      <a href="#" class="ui disabled huge button" >Get Recommendations <i class="right arrow icon"></i></a>
      {% else %}
      <div class="ui clearing divider"></div>
      <h2>Your current rated movies</h2>
      <div id="favdiv" class="ui five column grid">
        {%for item in fav_movies %}
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img id="fav{{loop.index}}"alt="http://www.omdbapi.com/?apikey=c4a1ba1d&i=tt{{ item['imdbId'] }}" name='fav'
              src="{{ url_for('static', filename='assets/images/not-available.jpg') }}">
            </div>
            <div class="content" style="padding:0;">
              <a onclick='getImage({{ item['imdbId'] }});'><h5>{{ item['title'] }}</h5></a>
            </div>
            <div class="extra">
              Rating: {{ item['rating'] }}
              <div class="ui star rating" data-rating='{{ item['rating']|round }}'></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ui clearing divider"></div>
      <a href="{{ url_for('get_recommendation2') }}" id="rec_click" class="ui rec huge primary button">Get Recommendations
        <i class="right arrow icon"></i></a>
      {% endif %}
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned container">
      <h3 class="ui header">Hall of Fame</h3>
      <div class="ui styled fluid accordion">
        <div class="title active ui header">
          <i class="dropdown icon"></i>
          Top Rated Movies
        </div>
        <div class="content active">
          <div id="imgdiv" class="ui five column grid">
            {%for item in top_rating %}
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img id="img{{loop.index}}"alt="http://www.omdbapi.com/?apikey=c4a1ba1d&i=tt{{ item['imdbId'] }}" name='imdbId'
                  src="{{ url_for('static', filename='assets/images/not-available.jpg') }}">
                </div>
                <div class="content">
                  <a onclick='getImage({{ item['imdbId'] }});' class="header">{{ item['title'] }}</a>
                </div>
                <div class="extra">
                  Average Rating: {{ item['avgRating'] }}
                  <div class="ui star rating" data-rating='{{ item['avgRating']|round }}'></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="title ui header">
          <i class="dropdown icon"></i>
          Top Popular Movies
        </div>
        <div class="content">
          <div id="imgdiv2" class="ui five column grid">
            {%for item in top_popular %}
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img id="img2_{{loop.index}}"alt="http://www.omdbapi.com/?apikey=c4a1ba1d&i=tt{{ item['imdbId'] }}" name='imdbId2'
                  src="{{ url_for('static', filename='assets/images/not-available.jpg') }}">
                </div>
                <div class="content">
                  <a onclick='getImage({{ item['imdbId'] }});' class="header">{{ item['title'] }}</a>
                </div>
                <div class="extra">
                  Total Rating: {{ item['totalRatingCount'] }}
                  <div class="ui star rating" data-rating='{{ item['avgRating']|round }}'></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="ui vertical stripe segment">
    <div class="ui middle aligned container">
      <h3 class="ui header">Top Rated Movies</h3>
        <div id="imgdiv" class="ui five column grid">
          {%for item in top_rating %}
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img id="img{{loop.index}}"alt="http://www.omdbapi.com/?apikey=c4a1ba1d&i=tt{{ item['imdbId'] }}" name='imdbId'
                src="{{ url_for('static', filename='assets/images/not-available.jpg') }}">
              </div>
              <div class="content">
                <a onclick='getImage({{ item['imdbId'] }});' class="header">{{ item['title'] }}</a>
              </div>
              <div class="extra">
                Average Rating: {{ item['avgRating'] }}
                <div class="ui star rating" data-rating='{{ item['avgRating']|round }}'></div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned container">
        <h3 class="ui header">Top Popular Movies</h3>
          <div id="imgdiv2" class="ui five column grid">
            {%for item in top_popular %}
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img id="img2_{{loop.index}}"alt="http://www.omdbapi.com/?apikey=c4a1ba1d&i=tt{{ item['imdbId'] }}" name='imdbId2'
                  src="{{ url_for('static', filename='assets/images/not-available.jpg') }}">
                </div>
                <div class="content">
                  <a onclick='getImage({{ item['imdbId'] }});' class="header">{{ item['title'] }}</a>
                </div>
                <div class="extra">
                  Total Rating: {{ item['totalRatingCount'] }}
                  <div class="ui star rating" data-rating='{{ item['avgRating']|round }}'></div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div> -->

    <div class="ui middle aligned stackable grid container">
<!--
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Top Popular Movies</h3>
          <div class=table>
            <h1>Movies</h1>
            {% for table in pop_movie_tables %}

              {{ table|safe }}
            {% endfor %}
          </div>
          <h3 class="ui header">Top Rated Movies</h3>
          <div class=table>
            <h1>Movies</h1>
            {% for table in top_movie_tables %}

              {{ table|safe }}
            {% endfor %}
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div> -->
    </div>
  </div>


  Rendered in {{ g.request_time() }}
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


</html>
